 /* Contiene el diseño para la foto de perfil y el botón de cambiar foto */
 .photo_user {
     position: absolute;
     width: 130px;
     height: 130px;
     top: 18%;
     right: 33%;
     ;
     display: flex;
     flex-direction: column;
     /* Cambiar la dirección del flujo a vertical */
     align-items: center;
     /* Centrado horizontal */
     justify-content: center;
     /* Centrado vertical */
     margin-left: auto;
     /* Mover todo el contenido hacia la derecha */
 }

 #contenedorPerfil {
     position: relative;
     width: 100%;
     height: 100%;
 }

 #imagenPerfil {
     width: 100%;
     height: 100%;
     border-radius: 50%;
     object-fit: cover;
     border: 2px solid #000;
 }

 #photo_button {
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     /* Color de fondo con opacidad */
     border-radius: 50%;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
     /* Inicialmente, invisible */
     transition: opacity 0.3s;
     /* Transición de opacidad */
 }

 #iconoMas {
     font-size: 40px;
 }

 .photo_user:hover #photo_button {
     opacity: 1;
     /* Hace visible el botón al pasar el cursor */
 }

 #photo_profile {
     display: none;
 }

 /* Aquí está el codigo css del cuadrado de fondo gris */
 /* Contiene z-index: -1 para indicar que esté debajo de los que contengan z-index: 1 */
 #fondo_ord {
     position: absolute;
     top: 8%;
     right: 20.3%;
     width: 57.5%;
     /* Ancho del cuadro */
     height: 101%;
     /* Altura del cuadro */
     background-color: #f0f0f0;
     /* Color de fondo del cuadro */
     /* border: 2px solid #000; Borde del cuadro */
     border-radius: 10px;
     z-index: -1;
 }

 /* Esto es para indicar que el cuadrado gris de fondo esté de bajo de los objetos que contengan z-index: 1  */
 #contenido {
     position: relative;
     z-index: 1;
 }

 /* Marca el ancho de las cajas de texto */
 .ancho {
     width: 45%;
     /*Cambia el ancho de la caja de texto*/
 }

 /* Cambia el diseño del texto "Ingresa Tu Informacion Personal" */
 h1 {
     position: absolute;
     top: 10%;
     left: 27%;
 }

 /* Cambia el diseño del texto "Información Personal" */
 h3 {
     position: absolute;
     top: 26.8%;
     left: 57%;
 }

 /* Cambia el diseño del texto "PERFIL DE USUARIO" */
 .tittle_profile {
     color: #ffffff;
     position: absolute;
     top: 1%;
     left: 9%;
     font-size: 24px;
 }

 /* Cambia el diseño del circulo que está como fondo en el logo */
 .circle {
     position: absolute;
     top: -1%;
     left: -0.4%;
     width: 100px;
     /* Ancho del círculo */
     height: 100px;
     /* Alto del círculo */
     background-color: #000000;
     /* Color de fondo del círculo */
     border-radius: 50%;
     /* Hace que el elemento sea un círculo */
 }

 /* Cambia el tamaño del logo */
 .logo_locate {
     position: absolute;
     top: -1%;
     left: -0.4%;
     width: 100px;
     /* Ancho deseado de la imagen */
     height: auto;
     /* Altura automática para mantener la proporción */
     border-radius: 50%;
     /* Hace que la imagen sea redonda */
 }

 /* Cambia el diseño del texto "Foto de Perfíl" */
 .text_profile {
     position: relative;
     top: 75%;
     right: 150%;
 }

 /* Genera una linea (Es meramente diseño estetico) */
 hr {
     position: absolute;
     top: 14%;
     right: 27%;
     border: none;
     height: 3px;
     background-color: #000;
     margin: 10px 0;
     width: 45%;
     /* Ajustar el ancho de la línea */
 }

 .menu {
     position: absolute;
     top: 0%;
     right: 0%;
     border: none;
     height: 40px;
     background-color: #000;
     margin: 10px 0;
     width: 100%;
     /* Ajustar el ancho de la línea */
     border-radius: 10px;
 }

 /* Cambia el diseño de la caja de texto "Nombre" */
 .nombre {
     position: absolute;
     top: 355px;
     left: 28.7%;
     width: 22%;

     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambia el diseño de la caja de numerica "Edad" */
 /* .regis_edad{
position: absolute;
top: 292px;
left: 54.8%;
width: 18.8%; Cambia el ancho de la caja de texto
border: 2px solid #000;
border-radius: 10px;
} */

 /* Cambia el diseño de la caja de texto "Apellido Paterno" */
 .apellido_p {
     position: absolute;
     top: 350px;
     left: 28.7%;
     width: 22%;
     /*Cambia el ancho de la caja de texto*/
     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambie el diseño de la caja de "Fecha de Nacimiento" */
 .fecha_nacimiento {
     position: absolute;
     top: 222px;
     left: 51.7%;
     width: 22%;
     /*Cambia el ancho de la caja de texto*/
     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambia el diseño de la caja de texto "Apellido Materno" */
 .apellido_m {
     position: absolute;
     top: 265px;
     left: 28.7%;
     width: 22%;
     /*Cambia el ancho de la caja de texto*/
     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambia el diseño de la caja de texto "Rut" */
 .rut {
     position: absolute;
     top: -230px;
     left: 28.7%;
     width: 22%;
     /*Cambia el ancho de la caja de texto*/
     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambia el diseño del Combo Box de "País" */
 .region {
     position: absolute;
     bottom: 25px;
     left: 51.7%;
     width: 22%;
     height: 61px;
     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambia el diseño del Combo Box de "Ciudad" */
 .ciudad {
     position: absolute;
     bottom: 15px;
     left: 51.7%;
     width: 22%;
     height: 61px;
     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambia el diseño de la caja de texto "Direccion" */
 .direccion {
     position: absolute;
     bottom: 10px;
     left: 28.7%;
     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambia el diseño de la caja de texto "Telefono" */
 .telefono {
     position: absolute;
     bottom: 10px;
     left: 28.7%;
     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambia el diseño de la caja de texto "Correo" */
 .email {
     position: absolute;
     bottom: 10px;
     left: 28.7%;
     border: 2px solid #000;
     border-radius: 10px;
 }

 #error-mail {
     position: absolute;
     bottom: 123px;
     left: 34%;
 }

 /* Cambia el diseño de la caja de texto "Contraseña" */
 .contrasena {
     position: absolute;
     bottom: 10px;
     left: 28.7%;
     width: 22%;
     /*Cambia el ancho de la caja de texto*/
     border: 2px solid #000;
     border-radius: 10px;
 }

 .rep_contrasena {
     position: absolute;
     bottom: 137px;
     left: 51.7%;
     width: 22%;
     /*Cambia el ancho de la caja de texto*/
     border: 2px solid #000;
     border-radius: 10px;
 }

 /* Cambia la posición del mensaje de error "Las contraseñas no coinciden */
 #error-pass {
     position: absolute;
     bottom: 15px;
     left: 53%;
 }

 /* Cambia el diseño del boton "Registrarse" */
 .regis_button {
     position: absolute;
     bottom: -7%;
     right: 35%;
     height: 60px;
 }

 /* Cambia la forma del boton "Registrarse" */
 .style_regis {
     width: 145%;
     /* Ancho del botón */
     height: 100%;
     /* Alto del botón */
     font-size: 20px;
     /* Tamaño de fuente del botón */
 }

 /* Cambia el diseño del boton "Cancelar" */
 .cancel_regis {
     position: absolute;
     bottom: -7%;
     left: 34.3%;
     height: 60px;
 }

 /* Cambia la forma del boton "Cancelar" */
 .style_cancel {
     width: 175%;
     /* Ancho del botón */
     height: 100%;
     /* Alto del botón */
     font-size: 20px;
     /* Tamaño de fuente del botón */
 }

 .img {
     margin: 18px;
     float: left;
     position: relative;

 }

 .documento {
     position: absolute;
     top: 1250px;
     left: 28.7%;
     width: 30%;
     /*Cambia el ancho de la caja de texto*/
     border: 2px solid #000;
     border-radius: 10px;
 }

 .desactivar {
     position: absolute;
     top: 150px;
     left: 2%;
     width: 10%;
     /*Cambia el ancho de la caja de texto*/


 }